<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="edf-nuget" value="https://pkgs.dev.azure.com/edf-re/SoftwareEngineering/_packaging/edf-nuget/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <edf-nuget>
        <add key="Username" value="edf-nuget-artifact-access" />
        <add key="ClearTextPassword" value="zxbqyx2vkhate2grjlrvgdmj3l2mgojmfnag4hb35vewsp4rbuiq" />
      </edf-nuget>
  </packageSourceCredentials>
</configuration>